{% extends 'shared/base.html' %}

{% block title %}
    Delete Task
{% endblock %}

{% block body %}

    <main class="container">

        <h1 class="page-title">Delete Task</h1>

        <div class="card">

            <p class="form-footer">
                Are you sure you want to delete this task?
            </p>

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger btn-delete">
                    Yes, delete
                </button>

                <a href="{% url 'tasks:list' %}" class="btn btn-secondary">
                    Cancel
                </a>
            </form>

        </div>

    </main>

{% endblock %}